*{
    margin:0;
    padding:0;
}

body{
    font:15px/1.3 'Open Sans', sans-serif;
    background-color: #5e5b64;
    text-align:center;
}

.title {
    background-color:rgba(3, 3, 10, 0.71);
    box-shadow: 0 1px 1px #ccc;
    border-radius: 2px;
    width: 850px;
    padding: 10px;
    margin: 45px auto 25px;
    position:relative;
    text-align:center;
    font-family:'Open Sans', sans-serif;
    color:#ffffff;
    line-height: 1;
}

ul.photos{
    list-style: none;
    width: 850px;
    margin: 0 auto;
    text-align: left;
}

ul.photos li{
    padding: 1px;
    float:left;
}

ul.photos li img{
    width:280px;
    height:280px;
    display:block;
    border:none;
}